.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.section-heading h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .section-heading h2 {
    font-size: 24px;
  }
}
.section-heading.white h2 {
  color: #ffffff;
}

/* :: 11.0 Blog CSS */
.featured-post-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 430px;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 3px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .featured-post-area {
      height: 350px; } }
  @media only screen and (max-width: 767px) {
    .featured-post-area {
      height: 350px; } }
  .featured-post-area .post-overlay {
    position: absolute;
    width: 100%;
    padding: 30px;
    z-index: 100;
    left: 0;
    bottom: 0; }
    .featured-post-area .post-overlay .post-meta a {
      font-size: 14px;
      color: #ffffff;
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px; }
      .featured-post-area .post-overlay .post-meta a:hover, .featured-post-area .post-overlay .post-meta a:focus {
        color: #dc2878; }
    .featured-post-area .post-overlay .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .featured-post-area .post-overlay .post-title {
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .featured-post-area .post-overlay .post-title {
          font-size: 20px; } }
      .featured-post-area .post-overlay .post-title:hover, .featured-post-area .post-overlay .post-title:focus {
        color: #dc2878; }
  .featured-post-area:hover, .featured-post-area:focus {
    background-position: bottom center; }
  .featured-post-area.small-featured-post {
    height: 170px; }
    .featured-post-area.small-featured-post .post-title {
      font-size: 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .featured-post-area.small-featured-post .post-title {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .featured-post-area.small-featured-post .post-title {
          font-size: 16px; } }
      .featured-post-area.small-featured-post .post-title:hover, .featured-post-area.small-featured-post .post-title:focus {
        color: #dc2878; }

.razo-single-post {
  position: relative;
  z-index: 1; }
  .razo-single-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .razo-single-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        max-width: 70px;
        width: 70px; } }
    @media only screen and (max-width: 767px) {
      .razo-single-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    .razo-single-post .post-thumbnail a {
      display: block; }
    .razo-single-post .post-thumbnail img {
      border-radius: 2px; }
  .razo-single-post .post-content {
    position: relative;
    z-index: 1;
    margin-left: 15px; }
    .razo-single-post .post-content .post-meta a {
      font-size: 14px;
      color: #6e6e6e;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px; }
      .razo-single-post .post-content .post-meta a:hover, .razo-single-post .post-content .post-meta a:focus {
        color: #dc2878; }
    .razo-single-post .post-content .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      color: #191919;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-post .post-content .post-title {
          font-size: 18px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-post .post-content .post-title {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-post .post-content .post-title {
          font-size: 16px; } }
      .razo-single-post .post-content .post-title:hover, .razo-single-post .post-content .post-title:focus {
        color: #dc2878; }

.razo-single-latest-news-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 520px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .razo-single-latest-news-area {
      height: 470px; } }
  @media only screen and (max-width: 767px) {
    .razo-single-latest-news-area {
      height: 450px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .razo-single-latest-news-area {
      height: 400px; } }
  .razo-single-latest-news-area .post-date {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 10;
    width: 100px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .post-date {
        left: 30px;
        width: 90px; } }
    .razo-single-latest-news-area .post-date h2 {
      display: block;
      background-color: #dc2878;
      font-size: 48px;
      padding: 20px 0;
      color: #ffffff;
      margin-bottom: 0;
      line-height: 1; }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-date h2 {
          font-size: 30px; } }
    .razo-single-latest-news-area .post-date p {
      background-color: #ffffff;
      font-size: 14px;
      color: #6e6e6e;
      padding: 5px 0;
      margin-bottom: 0;
      font-weight: 600; }
  .razo-single-latest-news-area .post-content {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 50px;
    left: 50px;
    z-index: 10; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .post-content {
        bottom: 30px;
        left: 30px; } }
    .razo-single-latest-news-area .post-content .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: #ffffff;
      display: block;
      margin-bottom: 15px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 24px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 20px; } }
      .razo-single-latest-news-area .post-content .post-title:hover, .razo-single-latest-news-area .post-content .post-title:focus {
        color: #dc2878; }
    .razo-single-latest-news-area .post-content p {
      margin-bottom: 0;
      color: #ffffff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
  .razo-single-latest-news-area .read-more-btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 10; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .read-more-btn {
        right: 30px;
        bottom: 30px; } }
    .razo-single-latest-news-area .read-more-btn .btn {
      color: #ffffff;
      font-size: 14px;
      padding: 0;
      font-weight: 600; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .read-more-btn .btn {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .read-more-btn .btn {
          font-size: 12px; } }
      .razo-single-latest-news-area .read-more-btn .btn:hover, .razo-single-latest-news-area .read-more-btn .btn:focus {
        font-weight: 600;
        color: #dc2878; }

.featured-trending-video {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 600px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .featured-trending-video {
      height: 470px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .featured-trending-video {
      height: 420px; } }
  @media only screen and (max-width: 767px) {
    .featured-trending-video {
      height: 260px; } }
  .featured-trending-video iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.razo-blog-masonary-single-item {
  position: relative;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15); }
  .razo-blog-masonary-single-item .post-thumbnail img {
    border-radius: 2px 2px 0 0; }
  .razo-blog-masonary-single-item .post-thumbnail a {
    display: block; }
  .razo-blog-masonary-single-item .post-content {
    padding: 30px; }
    .razo-blog-masonary-single-item .post-content .post-date {
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
      color: #a6a6a6; }
    .razo-blog-masonary-single-item .post-content .post-title {
      font-size: 20px;
      display: block;
      margin-bottom: 15px;
      font-family: "Oswald", sans-serif; }
      .razo-blog-masonary-single-item .post-content .post-title:hover, .razo-blog-masonary-single-item .post-content .post-title:focus {
        color: #dc2878; }
    .razo-blog-masonary-single-item .post-content .read-more-btn {
      font-size: 14px;
      color: #a6a6a6;
      padding: 0; }
      .razo-blog-masonary-single-item .post-content .read-more-btn:hover, .razo-blog-masonary-single-item .post-content .read-more-btn:focus {
        color: #dc2878; }

.blog-details-post-thumbnail-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 600px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-details-post-thumbnail-area {
      height: 450px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-details-post-thumbnail-area {
      height: 400px; } }
  @media only screen and (max-width: 767px) {
    .blog-details-post-thumbnail-area {
      height: 400px; } }
  .blog-details-post-thumbnail-area .post-title-text {
    text-align: center; }
    .blog-details-post-thumbnail-area .post-title-text h2 {
      font-size: 48px;
      display: block;
      margin-bottom: 25px;
      color: #ffffff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .blog-details-post-thumbnail-area .post-title-text h2 {
          font-size: 42px; } }
      @media only screen and (max-width: 767px) {
        .blog-details-post-thumbnail-area .post-title-text h2 {
          font-size: 30px; } }
    .blog-details-post-thumbnail-area .post-title-text .post-meta a {
      display: inline-block;
      position: relative;
      z-index: 1;
      font-size: 14px;
      color: #ffffff; }
      .blog-details-post-thumbnail-area .post-title-text .post-meta a:last-child {
        margin-left: 30px; }
        .blog-details-post-thumbnail-area .post-title-text .post-meta a:last-child::after {
          position: absolute;
          content: '|';
          top: 0;
          left: -17px;
          z-index: 1; }
      .blog-details-post-thumbnail-area .post-title-text .post-meta a:hover, .blog-details-post-thumbnail-area .post-title-text .post-meta a:focus {
        color: #dc2878; }

.razo-pagination {
  position: relative;
  z-index: 1; }
  .razo-pagination .pagination .page-item .page-link {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 0;
    line-height: 38px;
    margin: 0 5px;
    text-align: center;
    background-color: transparent;
    color: #6e6e6e;
    font-size: 16px; }
    .razo-pagination .pagination .page-item .page-link:focus, .razo-pagination .pagination .page-item .page-link:hover {
      background-color: #dc2878;
      border-color: #dc2878;
      color: #ffffff; }
  .razo-pagination .pagination .page-item.active .page-link {
    background-color: #dc2878;
    border-color: #dc2878;
    color: #ffffff; }

.comment_area {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 50px;
  padding-bottom: 20px; }
  .comment_area .title {
    margin-bottom: 30px;
    font-size: 30px; }
    @media only screen and (max-width: 767px) {
      .comment_area .title {
        font-size: 24px; } }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 50px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 20px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          width: 50px;
          max-width: 50px;
          margin-right: 10px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .author-name {
      margin-bottom: 10px;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      display: block; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .author-name {
          font-size: 14px; } }
      .comment_area .comment-content .comment-meta .author-name .post-date {
        color: #6e6e6e;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }
        @media only screen and (max-width: 767px) {
          .comment_area .comment-content .comment-meta .author-name .post-date {
            font-size: 12px; } }
      .comment_area .comment-content .comment-meta .author-name:hover, .comment_area .comment-content .comment-meta .author-name:focus {
        color: #dc2878; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .author-name {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #6e6e6e;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      display: block; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 14px; } }
    .comment_area .comment-content .comment-meta a.like,
    .comment_area .comment-content .comment-meta a.reply {
      display: inline-block;
      padding: 5px 15px 3px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #e5e5e5;
      text-transform: uppercase; }
      .comment_area .comment-content .comment-meta a.like:focus, .comment_area .comment-content .comment-meta a.like:hover,
      .comment_area .comment-content .comment-meta a.reply:focus,
      .comment_area .comment-content .comment-meta a.reply:hover {
        border-color: #dc2878;
        background-color: #dc2878;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 50px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 20px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }

.razo-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px; }
  .razo-blockquote .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px; }
    @media only screen and (max-width: 767px) {
      .razo-blockquote .icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px; } }
    .razo-blockquote .icon i {
      font-size: 48px;
      color: #dc2878; }
      @media only screen and (max-width: 767px) {
        .razo-blockquote .icon i {
          font-size: 30px; } }
  .razo-blockquote .text p {
    color: #191919;
    margin-bottom: 15px;
    line-height: 1.6;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .razo-blockquote .text p {
        font-size: 18px; } }
  .razo-blockquote .text h6 {
    margin-bottom: 0;
    color: #dc2878; }

.post-catagories {
  position: relative;
  z-index: 1;
  margin: 20px 0 50px 0; }
  .post-catagories ul li {
    margin: 5px;
    font-weight: 600; }
    .post-catagories ul li a {
      display: inline-block;
      background-color: #ffffff;
      color: #dc2878;
      text-transform: capitalize;
      font-size: 16px;
      margin: 5px;
      font-weight: 600; }
      .post-catagories ul li a:focus, .post-catagories ul li a:hover {
        background-color: transparent;
        color: #191919; }
      @media only screen and (max-width: 767px) {
        .post-catagories ul li a {
          font-size: 14px; } }

.razo-post-share {
  position: relative;
  z-index: 1; }
  .razo-post-share h5 {
    font-size: 18px;
    margin-bottom: 15px; }
  .razo-post-share a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dc2878;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 40px; }
    .razo-post-share a.facebook {
      background-color: #4c65a8; }
    .razo-post-share a.twitter {
      background-color: #41a1f6; }
    .razo-post-share a.google-plus {
      background-color: #f43535; }
    .razo-post-share a.pinterest {
      background-color: #8f6247; }
    .razo-post-share a.instagram {
      background-color: #f0c605; }
    .razo-post-share a:hover, .razo-post-share a:focus {
      background-color: #dc2878; }

.blog-details-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .blog-details-area .post-details-text p {
      font-size: 14px; } }

